<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="phrescoBuilder"
         name="Phresco Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.photon.phresco.ui.PhrescoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="phrescoNature"
         name="Phresco Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.photon.phresco.ui.PhrescoNature">
         </run>
      </runtime>
      <builder
            id="Phresco-Plugin.phrescoBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="Phresco-Plugin.addRemovePhrescoNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="Phresco-Plugin.phrescoNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="Phresco-Plugin.addRemovePhrescoNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="Phresco-Plugin.phrescoNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="%wizards.category.name"
            id="com.photon.phresco.ui.import.phrescoImportCategory">
      </category>
      <wizard
            name="%existing.phresch.project"
            icon="icons/phresco_icon.png"
            category="com.photon.phresco.ui.import.phrescoImportCategory"
            class="com.photon.phresco.ui.wizards.PhrescoImportWizard"
            id="com.photon.phresco.ui.wizards.PhrescoImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
            <wizard
            name="%scm.phresco.project"
            icon="icons/sample.gif"
            category="com.photon.phresco.ui.import.phrescoImportCategory"
            class="com.photon.phresco.ui.wizards.PhrescoImportFromSCMWizard"
            id="com.photon.phresco.ui.wizards.PhrescoImportSCMWizard">
         <description>
            Checkout Phresco Project from SCM.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.photon.phresco.ui.appCategory"
            name="%wizards.category.name">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.photon.phresco.ui.appCategory"
            class="com.photon.phresco.ui.wizards.PhrescoProjectWizard"
            finalPerspective="org.eclipse.debug.ui.DebugPerspective"
            hasPages="true"
            icon="icons/phresco_icon.png"
            id="com.photon.phresco.ui.newPhrescoProject"
            name="%wizards.newproject.name"
            project="true">
      </wizard>
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="Phresco-Plugin.contribution1">
         <menu
               label="Build"
               path="additions"
               id="Phresco-Plugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Build"
               class="com.photon.phresco.ui.popup.actions.BuildAction"
               menubarPath="Phresco-Plugin.menu1/group1"
               enablesFor="1"
               id="Phresco-Plugin.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Phresco"
            class="com.photon.phresco.ui.preferences.PhrescoPreferences"
            id="com.photon.phresco.ui.preferences.PhrescoPreferences">
      </page>

     <page
            category="com.photon.phresco.ui.preferences.PhrescoPreferences"
            class="com.photon.phresco.ui.preferences.LoginPrefrence"
            id="com.photon.phresco.ui.preferences.LoginPrefrence"
            name="Login">
            
     </page>
            
     <page
            category="com.photon.phresco.ui.preferences.PhrescoPreferences"
            class="com.photon.phresco.ui.preferences.ConfigurationPage"
            id="com.photon.phresco.ui.preferences.Configuration"
            name="Configuration">
      </page>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Phresco Category"
            id="Phresco-Plugin">
      </category>
      <view
            name="Phresco View"
            icon="icons/phresco_icon.png"
            category="Phresco-Plugin"
            class="com.photon.phresco.ui.views.PhrescoView"
            id="com.photon.phresco.ui.views.PhrescoView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.photon.phresco.ui.views.PhrescoView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
 <extension
       point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.PhrescoHandler"
            id="Phresco"
            name="Phresco">
      </command>
      
      <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.EditProject"
            id="editProject"
            name="Edit Project">
        </command>

      <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.UpdateFeature"
            id="feature"
            name="Features">
      </command>
      
       <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.ConfigurationPage"
            id="Config"
            name="Configuration">
        </command>
        
        <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.Code"
            id="Code"
            name="Code Validation">
        </command>
        
         <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.Build"
            id="Build"
            name="Build">
        </command>
        
         <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.View"
            id="View"
            name="view">
        </command>
        
         <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.QualityPage"
            id="Quality"
            name="Quality">
        </command>

		<command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.Unit"
            id="Unit"
            name="Unit Test">
        </command>

         <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.ReportPage"
            id="PDFReport"
            name="PDF Report">
        </command>
                
   </extension>
   
   <extension
  	  point="org.eclipse.ui.menus">
	  <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
		<menu 
		   commandId="Phresco"
		   icon="icons/phresco_icon.png"
		   id="%project.phresco.menu.id"
		   label="%project.phresco.menu.label"
		   tooltip="%project.phresco.menu.tooltip">
		    <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>

			<command
         		commandId="editProject"
         		icon="icons/edit_icon.png"
        	 	id="editProject"
         		label="Edit Project"
         		style="push"
         		tooltip="%project.configuration.tooltip">
			</command>

			<command
		         commandId="feature"
		         icon="icons/update_icon.png"
		         id="%project.feature.id"
		         label="%project.feature.label"
		         style="push"
		         tooltip="%project.feature.tooltip">
			</command>
				
			<command
		         commandId="Config"
		         icon="icons/configure_icon.png"
		         id="%project.configuration.id"
		         label="%project.configuration.label"
		         style="push"
		         tooltip="%project.configuration.tooltip">
			</command>
	
			<command
		         commandId="Code"
		         icon="icons/code_validation.png"
		         id="%project.codevalidate.id "
		         label="%project.codevalidate.label"
		         style="push"
		         tooltip="%project.codevalidate.tooltip">
			</command>
	
			<menu 
				commandId="Build"
				icon="icons/build_icon.png"
				id="%project.phresco.buildmenu.id"
				label="%project.phresco.buildmenu.label"
				tooltip="%project.phresco.buildmenu.tooltip">
				<command
		          commandId="Build"
		          icon="icons/generate_build_icon.png"
		          label="%project.generatebuild.id"
		          style="push"
		          tooltip="%project.generatebuild.tooltip">
				</command>
				
			</menu>
	
		<command
         commandId="Phresco"
         icon="icons/deploy_icon.png"
         label="%project.deploy.label"
         style="push"
         tooltip="%project.deploy.tooltip">
			</command>
	
			 <separator
				   name="QualitySeparator"
				   visible="true">
			 </separator>
		 
			 <menu 
				commandId="Quality"
				icon="icons/quality_icon.png"
				id="%project.phresco.qualitymenu.id"
				label="%project.phresco.qualitymenu.label"
				tooltip="%project.phresco.qualitymenu.tooltip">
			   
				<command
			          commandId="Unit"
			          icon="icons/unit_quality_icon.png"
			          id="%project.unittest.id"
			          label="%project.unittest.label"
			          style="push"
			          tooltip="%project.unittest.tooltip">
				</command>
		
				<command
			          commandId="Quality"
			          icon="icons/func_quality_icon.png"
			          id="%project.functionaltest.id"
			          label="%project.functionaltest.label"
			          style="push"
			          tooltip="%project.functionaltest.tooltip">
				</command>
			</menu>

			<command
				commandId="PDFReport"
				id="PDFReport"
				label="%project.pdfreport.label"
				style="push"
				tooltip="%project.pdfreport.tooltip">
			</command>
						
		</menu>
	</menuContribution>
	 <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
		<menu 
		   commandId="Phresco"
		   icon="icons/phresco_icon.png"
		   id="%project.phresco.menu.id"
		   label="%project.phresco.menu.label"
		   tooltip="%project.phresco.menu.tooltip">
		   </menu>
	</menuContribution>
   </extension>
   
</plugin>
