<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="phrescoBuilder"
         name="Phresco Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.photon.phresco.ui.builder.PhrescoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="phrescoNature"
         name="Phresco Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.photon.phresco.ui.builder.PhrescoNature">
         </run>
      </runtime>
      <builder
            id="com.photon.phresco.ui.phrescoBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.photon.phresco.ui.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="com.photon.phresco.ui.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.photon.phresco.ui.addRemoveNatureAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.photon.phresco.ui.contribution1">
         <menu
               label="Phresco"
               path="additions"
               id="com.photon.phresco.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="build"
               class="com.photon.phresco.ui.popup.actions.BuildAction"
               menubarPath="com.photon.phresco.ui.menu1/group1"
               enablesFor="1"
               id="com.photon.phresco.ui.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="phrescoProblem"
         name="Phresco Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="com.photon.phresco.ui.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.photon.phresco.ui.preferences.PhrescoPreferencePage"
            id="com.photon.phresco.ui.preferences.PhrescoPreferencePage"
            name="Phresco">
      </page>
      <page
            category="com.photon.phresco.ui.preferences.PhrescoPreferencePage"
            class="com.photon.phresco.ui.preferences.GlobalConfigurationPage"
            id="com.photon.phresco.ui.configPage"
            name="Configurations">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.photon.phresco.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
  <!-- <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.photon.phresco.ui.splashHandlers.InteractiveSplashHandler"
            id="com.photon.phresco.ui.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="com.photon.phresco.ui.splashHandlers.interactive"
            productId="org.eclipse.sdk.ide">
      </splashHandlerProductBinding>
   </extension> -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.photon.phresco.ui.appCategory"
            name="Phresco">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.photon.phresco.ui.appCategory"
            class="com.photon.phresco.ui.wizards.PhrescoProjectWizard"
            finalPerspective="org.eclipse.debug.ui.DebugPerspective"
            hasPages="true"
            id="com.photon.phresco.ui.newPhrescoProject"
            name="Phresco Phresco"
            project="true">
      </wizard>
   </extension>

</plugin>
