<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="phrescoBuilder"
         name="Phresco Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.photon.phresco.ui.PhrescoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="phrescoNature"
         name="Phresco Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.photon.phresco.ui.PhrescoNature">
         </run>
      </runtime>
      <builder
            id="Phresco-Plugin.phrescoBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Phresco Project Nature commands"
            id="Phresco-Plugin.phrescoNature.category">
      </category>
      <command
            name="Add/RemovePhresco Project Nature"
            defaultHandler="com.photon.phresco.ui.AddRemovePhrescoNatureHandler"
            categoryId="Phresco-Plugin.phrescoNature.category"
            id="Phresco-Plugin.addRemovePhrescoNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="Phresco-Plugin.addRemovePhrescoNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="Phresco-Plugin.phrescoNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="Phresco-Plugin.addRemovePhrescoNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="Phresco-Plugin.phrescoNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="%wizards.category.name"
            id="com.photon.phresco.ui.import.phrescoImportCategory">
      </category>
      <wizard
            name="%existing.phresch.project"
            icon="icons/sample.gif"
            category="com.photon.phresco.ui.import.phrescoImportCategory"
            class="com.photon.phresco.ui.wizards.PhrescoImportWizard"
            id="com.photon.phresco.ui.wizards.PhrescoImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
            <wizard
            name="%scm.phresco.project"
            icon="icons/sample.gif"
            category="com.photon.phresco.ui.import.phrescoImportCategory"
            class="com.photon.phresco.ui.wizards.PhrescoImportFromSCMWizard"
            id="com.photon.phresco.ui.wizards.PhrescoImportSCMWizard">
         <description>
            Checkout Phresco Project from SCM.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.photon.phresco.ui.appCategory"
            name="%wizards.category.name">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.photon.phresco.ui.appCategory"
            class="com.photon.phresco.ui.wizards.PhrescoProjectWizard"
            finalPerspective="org.eclipse.debug.ui.DebugPerspective"
            hasPages="true"
            icon="icons/sample.gif"
            id="com.photon.phresco.ui.newPhrescoProject"
            name="%wizards.newproject.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="Phresco-Plugin.contribution1">
         <menu
               label="Build"
               path="additions"
               id="Phresco-Plugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Build"
               class="com.photon.phresco.ui.popup.actions.BuildAction"
               menubarPath="Phresco-Plugin.menu1/group1"
               enablesFor="1"
               id="Phresco-Plugin.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Phresco"
            class="com.photon.phresco.ui.preferences.PhrescoPreferences"
            id="com.photon.phresco.ui.preferences.PhrescoPreferences">
      </page>

     <page
            category="com.photon.phresco.ui.preferences.PhrescoPreferences"
            class="com.photon.phresco.ui.preferences.LoginPrefrence"
            id="com.photon.phresco.ui.preferences.LoginPrefrence"
            name="Login">
            
     </page>
            
     <page
            category="com.photon.phresco.ui.preferences.PhrescoPreferences"
            class="com.photon.phresco.ui.preferences.ConfigurationPage"
            id="com.photon.phresco.ui.preferences.Configuration"
            name="Configuration">
      </page>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Phresco Category"
            id="Phresco-Plugin">
      </category>
      <view
            name="Phresco View"
            icon="icons/sample.gif"
            category="Phresco-Plugin"
            class="com.photon.phresco.ui.views.PhrescoView"
            id="com.photon.phresco.ui.views.PhrescoView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.photon.phresco.ui.views.PhrescoView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
 <extension
       point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.PhrescoHandler"
            id="Phresco"
            name="Phresco">
      </command>
      
       <command
            defaultHandler="com.photon.phresco.ui.phrescoexplorer.ConfigurationPage"
            id="config"
            name="Configuration">
        </command>
   </extension>
   
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu 
               commandId="Phresco"
               icon="icons/phresco.gif"
               id="PhrescoDemo"
               label="Phresco"
               tooltip="Phresco Operations">
               
              <command
                   commandId="Phresco"
                   id="Feature updation"
                   label="Feature  Update"
                   style="push"
                   tooltip="Feature updation">
            </command>
            
            <command
                  commandId="config"
                  id="configuration"
                  label="Configuration"
                  style="push"
                  tooltip="Configuration Creation">
            </command>
            
            <command
                  commandId="Phresco"
                  label="Build"
                  style="push"
                  tooltip="Build Project">
            </command>
            
             <command
                  commandId="Phresco"
                  label="Deploy"
                  style="push"
                  tooltip="Deploy project">
            </command>
            
             <command
                  commandId="Phresco"
                  label="Code Validate"
                  style="push"
                  tooltip="Code validation">
            </command>
            
             <command
                  commandId="Phresco"
                  label="Unit Test"
                  style="push"
                  tooltip="Unit test">
            </command>
            
            <command
                  commandId="Phresco"
                  label="Functional Test"
                  style="push"
                  tooltip="Functional Test">
            </command>
            
             <command
                  commandId="Phresco"
                  label="Performance Test"
                  style="push"
                  tooltip="Performance Test">
            </command>
            
             <command
                  commandId="Phresco"
                  label="Manual Test"
                  style="push"
                  tooltip="Manual Test">
            </command>
            
         </menu>
      </menuContribution>
   </extension>

   

</plugin>
